/*common*/
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 30px;
    margin: 0;
}
.custom-container > h3, .custom-container > h4{
    text-align: center;
    color: #5694d7;
    margin-bottom: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px 30px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
}
.close-btn {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}
.close-btn:hover {
    color: #000;
}
@media screen and (max-width: 600px) {
    .custom-container {
        padding: 20px;
    }
}
/* Navbar styling */
.navbar {
    background-color: #516e8e;
}
.navbar .nav-link {
    color: white !important;
}
.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
    background-color: #069ff1;
}
/* Dropdown menu colors */
.navbar .dropdown-menu {
    background-color: #516e8e;
}
.navbar .dropdown-item {
    color: white !important;
}
.navbar-nav {
    overflow: visible !important;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}
.navbar-nav .nav-item {
    flex: 0 0 auto;
}
.navbar-collapse {
    overflow: visible !important;
}

.beneficiariesContainer > .beneficiary-entry > .form-group > h4{
    text-align: center;
    color: #5694d7;
    margin-bottom: 10px;
}

#beneficiariesList > .beneficiary-card > .form-group > h4{
    text-align: center;
    color: #5694d7;
    margin-bottom: 10px;
}

